body {
    background-color: gray;
}

.container {
    background-color: lightsalmon;
    display: flex;
}

.intem {
    background-color: lightskyblue;
    border: 2px solid black;
    text-align: center;
    flex: auto;
}